
@{
    ViewBag.Title = "xercler";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container-fluid">
    <div class="content">
        <div class="col-md-12">
            <div class="header">
                <h4>Siyahıya yeni xərc əlavə et:</h4>
            </div>
            <hr />
            <form method="post" action="~/Home/yenixerc">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Adı:</font></font></label>
                            <input type="text" class="form-control" placeholder="XercAd" name="XercAd">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Miqdar:</font></font></label>
                            <input type="text" class="form-control" placeholder="XercMiqdar" name="XercMiqdar">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tarix:</font></font></label>
                            <input type="date" class="form-control"  name="XercTarix">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Filial:</font></font></label>
                            <select name="XercFilialId" class="form-control" style="cursor: pointer;">
                                @foreach (var item in ViewBag.filial)
                                {
                                    <option value="@item.FilialId">@item.FilialAd</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Əlavə et</font></font></button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div class="col-md-12" >
        <div class="header">
            <h4 class="title">Bütün komunal xərclərin siyahısı:</h4>
        </div>
        <div class="input-group input-group-lg" style="margin-top: 10px;float: right;">
            <input onkeyup="myFunction()" id="myInput" type="text" class="form-control" placeholder="Axtar..">
        </div>
        <div class="content table-responsive table-full-width">
            <table id="mytable" style="cursor: pointer;" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ad</th>
                        <th>Filial Ad</th>
                        <th>Miqdar </th>
                        <th>Tarix</th>
                        <th colspan="2" class="text-center">Düzəliş et</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.xerc)
                    {
                        <tr>
                            <td>@(ViewBag.xerc.IndexOf(item)+1)</td>
                            <td>@item.XercAd</td>
                            <td>@item.FilialAd </td>
                            <td id="price">@item.XercMiqdar</td>
                            <td>@item.XercTarix </td>
                            <td class="text-center"><a href="~/Home/editxerc/@item.XercId"><i class="fas fa-edit"></i></a></td>
                            <td class="text-center"><a href="~/Home/silxerc/@item.XercId"><i style="font-size: 25px;" class="pe-7s-close"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="header">
                <h4>Bütün filiallar üzrə toplam komunal xərc miqdarı: <span style="color: red;" id="total">0</span> &nbsp; AzN </h4>
            </div>
        </div>
    </div>
</div>

